.events {
    background-color: blueviolet;
    width: 120px;
    height: 20px;
    padding: 40px;
    color: white;
}

.events2 {
    background-color: blueviolet;
    width: 120px;
    height: 20px;
    padding: 40px;
    color: white
}