.js{
    color: wheat;
    background-color: red;
    height: 150px;
    width: auto;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.nd{
    color: white;
    background-color: black;
    height: 150px;
    width: auto;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.rt{
    color: rgb(245, 8, 39);
    background-color: blue;
    height: 150px;
    width: auto;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}